@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #FAE6C9;
  --color-secondary: #F5EDE1;
  --color-tertiary: black;
}

body {
  background-color: #F5EDE1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Handlee", sans-serif;
}

p, button {
  font-family: "Montserrat", sans-serif;
}
